<div class="container-fluid about-us">
  <div class="company-profile">
    <h4 class="display-4">About K.D Traders</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet gravida magna. Sed eu magna tortor. Duis rhoncus
      vestibulum est, sit amet imperdiet mi pulvinar eget. Donec in dignissim ipsum. Praesent vel quam augue. Curabitur mollis
      pharetra leo ut placerat. Quisque sodales elit vel justo scelerisque maximus. Mauris eleifend tempor turpis, vitae
      mollis nibh vehicula sit amet. Ut sed rhoncus odio, vel vestibulum mauris. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Suspendisse non tortor tortor. Ut erat ante, laoreet eget augue in, facilisis
      scelerisque nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eget orci erat.
    </p>
  </div>
  <div class="people-profile container">
    <div class="row justify-content-center">
      <div class="col-sm text-center">
        <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px">
        <p style="padding-top:5px">
          Varinder Vikram Singh
          <br/> Manager of Kd Traders
        </p>
      </div>
      <div class="col-sm text-center">
          <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px">
          <p style="padding-top:5px">
            Varinder Vikram Singh
            <br/> Manager of Kd Traders
          </p>
        </div>
        <div class="col-sm text-center">
            <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px">
            <p style="padding-top:5px">
              Varinder Vikram Singh
              <br/> Manager of Kd Traders
            </p>
          </div>
    </div>
  </div>
  <div class="logo-carousel container" style="background: azure">    

    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="row" style="padding-left:20%">
            <div class="col-sm" style="padding-left:25%">
          <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
            <p style="text-align: center">
              Hello world
            </p>
          </div>
          <div class="col-sm" style="padding-left:15%">
            <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
              <p style="text-align: center">
                Hello World
              </p>
            </div>
            <div class="col-sm" style="padding-left:15%">
              <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
                <p style="text-align: center">
                  Hello World
                </p>
              </div>  
              </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row" style="padding-left:25%">
              <div class="col-sm" style="padding-left:15%">
            <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
              <p style="text-align: center">
                Hello world111
              </p>
            </div>
            <div class="col-sm" style="padding-left:15%">
              <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
                <p style="text-align: center">
                  Hello World111
                </p>
              </div>
              <div class="col-sm" style="padding-left:15%">
                <img src="assets/images/images.png" class="img-thumbnail" height="150px" width="150px" style="margin:10px">
                  <p style="text-align: center">
                    Hello World11
                  </p>
                </div>  
                </div>
          </ng-template>
        <!-- <ng-template ngbSlide>
          <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template> -->
      </ngb-carousel>
  </div>
</div>